.o_list_view th[data-name="id"],
.o_list_view td[data-name="id"],
.o_list_view th[data-name="order_id"],
.o_list_view td[data-name="order_id"],
.o_list_view th[data-name="qty_done"],
.o_list_view td[data-name="qty_done"],
.o_list_view th[data-name="product_uom_qty"],
.o_list_view td[data-name="product_uom_qty"],
.o_list_view th[data-name="qty_delivered"],
.o_list_view td[data-name="qty_delivered"],
.o_list_view th[data-name="transfer_time"],
.o_list_view td[data-name="transfer_time"],
.o_list_view th[data-name="delivered_state"],
.o_list_view td[data-name="delivered_state"] {
    max-width: 80px;
    width: 80px;
    overflow: hidden;   /* içerik taşarsa kes */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.o_list_view th[data-name="name"],
.o_list_view td[data-name="name"] {
    max-width: 300px;
    width: 300px;
    overflow: hidden;   /* içerik taşarsa kes */
    text-overflow: ellipsis;
    white-space: nowrap;
}